<div   class="modal-bg">
    <div class="dialog">
        <!-- Large modal -->
        <button class="btn btn-primary" ng-click="open('sm')" >Small modal</button>
        <button class="btn btn-primary" ng-click="open2('lg')">Large modal</button>
        <hr>
        <div ng-show="$ctrl.parentModel">
            <span> Name : {{$ctrl.parentModel.name}}</span><br>
            <span> Address : {{$ctrl.parentModel.address}}</span>
        </div>
        
        
        
    </div>
</div>

<div focus-highlight=""></div>